{% layout "layout.liquid" %} {% block content %}
<div>
  {% for productL in products %}
  <article>
    <a href="/store/{{ productL._id }}">
      <h2>
        {{productL.name}}
      </h2>
    </a>
  </article>
  {% endfor %}
</div>
{% endblock %}
