{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/products" method="post">
    <fieldset>
      <legend>Create a New Product</legend>
      <label>
        NAME:<input type="text" name="name" placeholder="enter product name" />
      </label>
      <label>
        COLOR:<input type="text" name="color" placeholder="enter product name" />
      <input type="submit" value="create new product" />
  </form>
</div>
{% endblock %}
