{% layout 'layout.liquid' %}
{% block content %}
<a href="/store"><button>Return to Store</button></a>
<form action="/store" method = "POST">
    <h1>Item Information</h1>
    Name:
    <input type="text" name="name" id="" placeholder="Name" required>
    Description:
    <input type="text" name="description" id="" placeholder="Description">
    Image URL:
    <input type="text" name="img" id="" placeholder="Image URL">
    Price:
    <input type="text" name="price" id="" placeholder="$" required>
    How many in stock?
    <input type="number" name="qty" id="" placeholder="Number" required>
    <input type="submit" value="Create this Item!">

</form>

{% endblock %}