{% layout 'layout.liquid' %}
{% block content %}
<h1>Show</h1>
<a href="/store">Store</a>
<a href="/id/edit">Edit</a>
<a href="/">Delete</a>

<h1>items left/outofstock</h1>
<button>Buy Now - reduce items left - hide if items left = 0, redirect to same page?</button>
{% endblock %}