{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/fruits/{{product._id}}?_method=PUT" method="post">
    <fieldset>
        <legend>Edit {{product.name}}</legend>
        <label>
            NAME:<input type="text" name="name" placeholder="enter product name" />
        </label>
        <label>
            DESCRIPTION:<input type="text" name="description" placeholder="enter description" />
        </label>
        <label>
            Image URL:<input type="text" name="img" placeholder="enter image url" />
        </label>
        <label>
            Price:<input type="text" name="price" placeholder="enter price" />
        </label>
        <label>
            Quantity:<input type="text" name="qty" placeholder="enter quantity" />
        </label>
      


    </fieldset>
    <input type="submit" value="Edit {{product.name}}" />
  </form>
</div>
{% endblock %}
