{% layout 'layout.liquid' %} {% block content %}
<div class="container">
    <a href="/products/new">Create a New Soda</a>
    {% for product in products %}
    <article>
        <h2> {{ product.name }} </h2>
        <a href="/products/{{ product._id }}">
            <img src="{{product.img}}" alt="">
        </a>
        <h3>Quantity: {{ product.qty }}</h3>
    </article>
    {% endfor %}
</div>
{% endblock %}
