{% layout "layout.liquid" %} {% block content %}
    <div>
        <a href="/products/new"><button>Create A New Product</button></a>
        {% comment %} <a href="/users/logout"><button>Logout</button></a> {% endcomment %}

       {% for product in Product %}
            <article>
                <a href="/products/{{ product._id }}">
                <h2>
                    {{product.name}} - {% if product.readyToEat == true %} Ripe 
                    {% else %} 
                    Not Ripe 
                    {% endif %}
                </h2>
                </a>
            </article>
        {% endfor %} 
    </div>
{% endblock %}
