{% layout "layout.liquid" %} {% block content %}
<div>
  <a href="/products/new"><button>Create A New Product</button></a>

  {% for product in products %}
  <article>
    <div>
      <a href="/products/{{ product._id }}">
        <img src="{{ product.img }}" /><br />
        <p>
          {{ product.name }}
          <br />
          ${{ product.price }}
        </p>
      </a>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}
