{% layout "layout.liquid" %} {% block content %}
    <div>
        <a href="/products/new"><button>Create A New Product</button></a>
        {% comment %} <a href="/users/logout"><button>Logout</button></a> {% endcomment %}

       {% for productL in Product %}
            <article>
                <a href="/products/{{ productL._id }}">
               
                </a>
            </article>
        {% endfor %} 
    </div>
{% endblock %}
