{% layout "layout.liquid" %} {% block content %}
<div class="indexDiv">
    <a href="/products/new" id="indexPageCreate"><button>Create A New Product</button></a>
    {% for product in searchResult %}
    <article class="indexProduct">
        <img src="{{product.img}}" alt="{{product.name}}">
      <a href="/products/{{ product._id }}">
        <h2>
          {{product.name}}
        </h2>
      </a>
    </article>
    {% endfor %}
  </div>
  {% endblock %}
  