{% layout "layout.liquid" %} {% block content %}
<div>
    <a href="/products/new">
        <button>Add New Product</button><br>
    </a>
    {% for product in products %}
    <a href="/products/{{ product._id }}">
        <img src="{{ product.img }}" alt="{{ product.name }}">
    </a>
    {% endfor %}
</div>
{% endblock %}