{% layout "layout.liquid" %} {% block content %}
    <div>
        <form action="/products" method="post">
            <fieldset>
                <legend>Create a New Product</legend>
                <label>
                    NAME:<input type="text" name="name" placeholder="enter product name" />
                </label>
                <label>
                    DESCRIPTION:<input type="text" name="description" placeholder="enter description" />
                </label>
                <label>
                    Image URL:<input type="text" name="img" placeholder="enter image url" />
                </label>
                <label>
                    Price:<input type="text" name="price" placeholder="enter price" />
                </label>
                <label>
                    Quantity:<input type="text" name="qty" placeholder="enter quantity" />
                </label>

            </fieldset>
            <input type="submit" value="create new product" />
        </form>
    </div>
{% endblock %}
