{% layout "layout.liquid" %} {% block content %}
<div>
    <form action="/products" method="POST">
        <fieldset>
            <legend>Create a New Product</legend>
            <label>
                NAME:<input type="text" name="name" placeholder="enter product name" />
            </label>
            <label>
                DESCRIPTION:<input type="text" name="description" placeholder="enter product description" />
            </label>
            <label>
                <img src="" alt="">
            </label>
            <label>
                PRICE:<input type="number" name="price" placeholder="enter price" />
            </label>
            <label>
                IN STOCK:<input type="number" name="inStock" placeholder="quantity in stock" />
            </label>
        </fieldset>
        <input type="submit" value="Create New Product" />
    </form>
</div>
{% endblock %}