{% layout "layout.liquid" %} {% block content %}
<div>
    <a href="/products">
        <button>Back To Home</button><br>
    </a>

    <img src="{{ product.img }}" alt="{{ product.name }}">
    
</div>
{% endblock %}