{% layout "layout.liquid" %} {% block content %}
      <div>
        <article>
          <h2>
            {{ product.name }} 
            
          </h2>
          <h3>{{product.description }}</h3>
        </article>
      </div>
{% endblock %}
